
.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.resume {
    text-align: center;
}

.fa-file {
    color: gray;
}

.fa-file:hover {
    color: black;
}

@media screen and (max-width: 334px) {

    .bodyHead {
        font-size: 30px;
    }
}