
.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.resume {
    text-align: center;
}

.fa-file {
    color: gray;
}

.fa-file:hover {
    color: black;
}

.portEntry {
    margin-top: 100px;
    padding: 20px 0px;
    border: 2px solid rgb(109, 98, 98);
    background-color: white; 
    width: 50%;
}

img {
    width: 100%;
    justify-self: center;
}

@media screen and (max-width: 334px) {

    .bodyHead {
        font-size: 30px;
    }
}